@page "/cards/buy/{fileId:int}"
@using CardBid.Data.Models
@using CardBid.DataAcessLibrary
@using System.Globalization
@using Blazored.LocalStorage
@inject ILocalStorageService LocalStorage
@inject ILeiloesData LeiloesService
@inject ILicitacoesData LicitacoesService
@inject IFotosData FotosService
@inject IContaData ContaService

@code {
    [Parameter]
    public int fileId { get; set; }
    private Leiloes l;
    private Fotos f;
    private List<Licitacoes> licitacoes;
    private decimal currentbid;
    private decimal bid;
    private bool showList => licitacoes.Count != 0;
    CultureInfo culture = new CultureInfo("en-US");
    CultureInfo culturept = new CultureInfo("pt-PT");
    private string Error = "";
    protected override void OnInitialized()
    {
        l = LeiloesService.getLeiloes(fileId);
        f = FotosService.GetFotos(l.Id);
        licitacoes = LicitacoesService.getLicitacoesPerLeilao(l.Id);
        currentbid = (l.MaiorLicitacao == null) ? l.PrecoInicial : licitacoes[0].Valor;
    }

    private async Task ExecuteBid()
    {
        int? currentId = await LocalStorage.GetItemAsync<int?>("id");

        if (currentId == null)
        {
            Error = "Admin's can't bid on auctions!";
            return;
        }

        if (currentId.Value == l.VendedorId)
        {
            Error = "You can't bid on your own card";
            return;
        }

        if (licitacoes.Count != 0 && licitacoes[0].LicitanteId == currentId.Value)
        {
            Error = "You already have the highest bid";
            return;
        }

        if (bid > currentbid)
        {
            Licitacoes licitacao = new Licitacoes
            {
                Data = DateTime.Now,
                LicitanteId = currentId.Value,
                LeilaoId = l.Id,
                Valor = bid
            };

            await LicitacoesService.AddLicitacao(licitacao);
            await LeiloesService.UpdateLicitacao(l.Id, licitacao.Id);
            if (DateTime.Now.AddMinutes(5) > l.DataLimite)
            {
                await LeiloesService.IncreseTimeLimit(l.Id);
            };

            licitacoes.Insert(0,licitacao);
            currentbid = bid;
            base.ShouldRender();
        }
        else
        {
            Error = "Bid must be higher than the current price";
        }
    }
}

<div class="min-h-screen h-fit">

    <div class="h-120 w-full flex flex-col items-center justify-center py-8">
        <style>
            img {
                display: block;
                max-width: 525px;
                max-height: 700px;
                width: auto;
                height: auto;
                object-fit: contain;
            }
        </style>
        <img src="@f.Foto" alt="Card Image" class="w-full h-full py-4" />
    </div>
    <div class="flex flex-col justify-center px-8 py-8 mx-8">
        <h1 class="font-bold text-3xl py-2">Card Name: <span class="text-red-600">@l.Titulo</span></h1>
        <h2 class="font-bold text-2xl py-2">Owned by:  <span class="text-blue-600">@ContaService.getUsername(l.VendedorId)</span></h2>
        <h2 class="font-bold text-1xl py-2">Description:  <span class="text-blue-600">@l.Descricao</span></h2>
    </div>
    <div class="flex flex-col justify-center px-8 py-8 border-black border-2 rounded-xl mx-16 mb-8">
        <h1 class="font-bold text-xl py-2 border-b-2 border-black">Sales end on @l.DataLimite.ToString("dd MMMM, yyyy: HH:mm", culture)</h1>
        <div>
            <p class="font-bold text-2xl py-2">Current Price:</p>
            <p class="font-bold text-md">@(currentbid.ToString("N2", culturept))€</p>
            <div class="flex flex-row space-x-4 py-4">
                <input type="number" placeholder="Enter Bid" @bind=bid class="border-black border-2 px-4 py-2 rounded-md" />
                <button class="bg-blue-500 text-white px-4 py-2 rounded"@onclick="ExecuteBid">Place Bid</button>
                @if (Error != "")
                {
                    <p class="text-red-600">@Error</p>
                }
            </div>
        </div>
    </div>

    @if(showList)
    {
        <div class="flex flex-col justify-center px-8 py-8 border-black border-2 rounded-xl mx-16 my-8">
            <h1 class="font-bold text-xl py-2 border-b-2 border-black text-black">🏷️ Latest Offers</h1>
            <div class="flex flex-row justify-between py-4 border-b-2 px-4 border-black text-gray-400">
                <span class="font-bold text-md">Price</span>
                <span class="font-bold text-md">Difference</span>
                <span class="font-bold text-md">TimeStamp</span>
                <span class="font-bold text-md">User</span>
            </div>
            @foreach(Licitacoes licitacao in licitacoes)
            {
                <div class="flex flex-row justify-between py-4 border-b-2 px-4 border-black">
                    <span class="text-md">@licitacao.Valor.ToString("N2", culturept)€</span>
                    <span class="text-md">@(Math.Round(((licitacao.Valor - l.PrecoInicial) / l.PrecoInicial) *100, 2))%</span>
                    <span class="text-md">@licitacao.Data.ToString("dd MMMM, yyyy: HH:mm",culture)</span>
                    <span class="text-md">@ContaService.getUsername(licitacao.LicitanteId)</span>
                </div>
            }
        </div>
    }
</div>
